# PERMIT_IO_PDP='http://localhost:7766'
PERMIT_IO_PDP='https://cloudpdp.api.permit.io'
PERMIT_IO_TOKEN='permit_key_dH6*****************'
PERMIT_IO_TENANT='permitblog'
ENVIRONMENT=development
MONGO_DB_URI=mongodb://localhost:27017/PermitBlog
PORT=3001
JwtSecret=454CJASDFKJASDFJKHJHK132ADFSHU
JWT_EXPIRATION=1d
BackendApiKey=2EJHKSADFKHJASDFKHJ123789123GHJKADSKF
